Source/obj/Debug/net48/PhosphorFire.AssemblyInfo.cs
Source/obj/Debug/net48/PhosphorFire.AssemblyInfoInputs.cache
Source/obj/PhosphorFire.csproj.nuget.dgspec.json
Source/obj/PhosphorFire.csproj.nuget.g.props
Source/obj/PhosphorFire.csproj.nuget.g.targets
Source/obj/project.assets.json
Source/obj/project.nuget.cache 
Source/obj/Debug/net48/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Source/obj/Debug/net48/PhosphorFire.assets.cache
Source/obj/Debug/net48/PhosphorFire.csproj.AssemblyReference.cache
Source/obj/Debug/net48/PhosphorFire.GeneratedMSBuildEditorConfig.editorconfig
Source/PhosphorFire.csproj

Source/bin/Debug/net48/0Harmony.dll
Source/bin/Debug/net48/Assembly-CSharp-firstpass.dll
Source/bin/Debug/net48/Assembly-CSharp.dll
Source/bin/Debug/net48/com.rlabrecque.steamworks.net.dll
Source/bin/Debug/net48/ISharpZipLib.dll
Source/bin/Debug/net48/NAudio.dll
Source/bin/Debug/net48/netstandard.dll
Source/bin/Debug/net48/NVorbis.dll
Source/bin/Debug/net48/Unity.Burst.dll
Source/bin/Debug/net48/Unity.Burst.Unsafe.dll
Source/bin/Debug/net48/Unity.Collections.dll
Source/bin/Debug/net48/Unity.Collections.LowLevel.ILSupport.dll
Source/bin/Debug/net48/Unity.Mathematics.dll
Source/bin/Debug/net48/Unity.TextMeshPro.dll
Source/bin/Debug/net48/UnityEngine.AccessibilityModule.dll
Source/bin/Debug/net48/UnityEngine.AIModule.dll
Source/bin/Debug/net48/UnityEngine.AndroidJNIModule.dll
Source/bin/Debug/net48/UnityEngine.AnimationModule.dll
Source/bin/Debug/net48/UnityEngine.ARModule.dll
Source/bin/Debug/net48/UnityEngine.AssetBundleModule.dll
Source/bin/Debug/net48/UnityEngine.AudioModule.dll
Source/bin/Debug/net48/UnityEngine.ClothModule.dll
Source/bin/Debug/net48/UnityEngine.ClusterInputModule.dll
Source/bin/Debug/net48/UnityEngine.ClusterRendererModule.dll
Source/bin/Debug/net48/UnityEngine.ContentLoadModule.dll
Source/bin/Debug/net48/UnityEngine.CoreModule.dll
Source/bin/Debug/net48/UnityEngine.CrashReportingModule.dll
Source/bin/Debug/net48/UnityEngine.DirectorModule.dll
Source/bin/Debug/net48/UnityEngine.dll
Source/bin/Debug/net48/UnityEngine.DSPGraphModule.dll
Source/bin/Debug/net48/UnityEngine.GameCenterModule.dll
Source/bin/Debug/net48/UnityEngine.GridModule.dll
Source/bin/Debug/net48/UnityEngine.ImageConversionModule.dll
Source/bin/Debug/net48/UnityEngine.IMGUIModule.dll
Source/bin/Debug/net48/UnityEngine.InputLegacyModule.dll
Source/bin/Debug/net48/UnityEngine.InputModule.dll
Source/bin/Debug/net48/UnityEngine.JSONSerializeModule.dll
Source/bin/Debug/net48/UnityEngine.LocalizationModule.dll
Source/bin/Debug/net48/UnityEngine.NVIDIAModule.dll
Source/bin/Debug/net48/UnityEngine.ParticleSystemModule.dll
Source/bin/Debug/net48/UnityEngine.PerformanceReportingModule.dll
Source/bin/Debug/net48/UnityEngine.Physics2DModule.dll
Source/bin/Debug/net48/UnityEngine.PhysicsModule.dll
Source/bin/Debug/net48/UnityEngine.PropertiesModule.dll
Source/bin/Debug/net48/UnityEngine.ScreenCaptureModule.dll
Source/bin/Debug/net48/UnityEngine.SharedInternalsModule.dll
Source/bin/Debug/net48/UnityEngine.SpriteMaskModule.dll
Source/bin/Debug/net48/UnityEngine.SpriteShapeModule.dll
Source/bin/Debug/net48/UnityEngine.StreamingModule.dll
Source/bin/Debug/net48/UnityEngine.SubsystemsModule.dll
Source/bin/Debug/net48/UnityEngine.TerrainModule.dll
Source/bin/Debug/net48/UnityEngine.TerrainPhysicsModule.dll
Source/bin/Debug/net48/UnityEngine.TextCoreFontEngineModule.dll
Source/bin/Debug/net48/UnityEngine.TextCoreTextEngineModule.dll
Source/bin/Debug/net48/UnityEngine.TextRenderingModule.dll
Source/bin/Debug/net48/UnityEngine.TilemapModule.dll
Source/bin/Debug/net48/UnityEngine.TLSModule.dll
Source/bin/Debug/net48/UnityEngine.UI.dll
Source/bin/Debug/net48/UnityEngine.UIElementsModule.dll
Source/bin/Debug/net48/UnityEngine.UIModule.dll
Source/bin/Debug/net48/UnityEngine.UnityAnalyticsCommonModule.dll
Source/bin/Debug/net48/UnityEngine.UnityAnalyticsModule.dll
Source/bin/Debug/net48/UnityEngine.UnityConnectModule.dll
Source/bin/Debug/net48/UnityEngine.UnityCurlModule.dll
Source/bin/Debug/net48/UnityEngine.UnityWebRequestAssetBundleModule.dll
Source/bin/Debug/net48/UnityEngine.UnityWebRequestAudioModule.dll
Source/bin/Debug/net48/UnityEngine.UnityWebRequestModule.dll
Source/bin/Debug/net48/UnityEngine.UnityWebRequestTextureModule.dll
Source/bin/Debug/net48/UnityEngine.UnityWebRequestWWWModule.dll
Source/bin/Debug/net48/UnityEngine.VehiclesModule.dll
Source/bin/Debug/net48/UnityEngine.VFXModule.dll
Source/bin/Debug/net48/UnityEngine.VideoModule.dll
Source/bin/Debug/net48/UnityEngine.VirtualTexturingModule.dll
Source/bin/Debug/net48/UnityEngine.VRModule.dll
Source/bin/Debug/net48/UnityEngine.WindModule.dll
Source/bin/Debug/net48/UnityEngine.XRModule.dll
Source/obj/Debug/net48/Phosphor.561CDAEC.Up2Date
Source/obj/Debug/net48/PhosphorFire.csproj.CoreCompileInputs.cache
Source/obj/Debug/net48/PhosphorFire.csproj.FileListAbsolute.txt
Source/obj/Debug/net48/PhosphorFire.dll
Source/obj/Debug/net48/PhosphorFire.pdb
Source/obj/Debug/net48/PhosphorFire.sourcelink.json
Segmentum-Core.sln
Source/obj/Debug/net48/RadHeddi.7011A18A.Up2Date
Source/obj/Debug/net48/RadHeddifPatch.AssemblyInfo.cs
Source/obj/Debug/net48/RadHeddifPatch.AssemblyInfoInputs.cache
Source/obj/Debug/net48/RadHeddifPatch.assets.cache
Source/obj/Debug/net48/RadHeddifPatch.csproj.AssemblyReference.cache
Source/obj/Debug/net48/RadHeddifPatch.csproj.CoreCompileInputs.cache
Source/obj/Debug/net48/RadHeddifPatch.csproj.FileListAbsolute.txt
Source/obj/Debug/net48/RadHeddifPatch.dll
Source/obj/Debug/net48/RadHeddifPatch.GeneratedMSBuildEditorConfig.editorconfig
Source/obj/Debug/net48/RadHeddifPatch.pdb
Source/obj/Debug/net48/RadHeddifPatch.sourcelink.json
Source/obj/Debug/net48/SegCotoCore.AssemblyInfo.cs
Source/obj/Debug/net48/SegCotoCore.AssemblyInfoInputs.cache
Source/obj/Debug/net48/SegCotoCore.assets.cache
Source/obj/Debug/net48/SegCotoCore.csproj.AssemblyReference.cache
Source/obj/Debug/net48/SegCotoCore.GeneratedMSBuildEditorConfig.editorconfig
Source/obj/RadHeddifPatch.csproj.nuget.dgspec.json
Source/obj/RadHeddifPatch.csproj.nuget.g.props
Source/obj/RadHeddifPatch.csproj.nuget.g.targets
Source/obj/SegCotoCore.csproj.nuget.dgspec.json
Source/obj/SegCotoCore.csproj.nuget.g.props
Source/obj/SegCotoCore.csproj.nuget.g.targets
Source/SegCor.csproj
Source/obj/SegCor.csproj.nuget.g.targets
Source/obj/SegCor.csproj.nuget.g.props
Source/obj/SegCor.csproj.nuget.dgspec.json
Source/obj/Debug/net48/SegCor.sourcelink.json
Source/obj/Debug/net48/SegCor.pdb
Source/obj/Debug/net48/SegCor.GeneratedMSBuildEditorConfig.editorconfig
Source/obj/Debug/net48/SegCor.dll
Source/obj/Debug/net48/SegCor.csproj.Up2Date
Source/obj/Debug/net48/SegCor.csproj.FileListAbsolute.txt
Source/obj/Debug/net48/SegCor.csproj.CoreCompileInputs.cache
Source/obj/Debug/net48/SegCor.csproj.AssemblyReference.cache
Source/obj/Debug/net48/SegCor.assets.cache
Source/obj/Debug/net48/SegCor.AssemblyInfoInputs.cache
Source/obj/Debug/net48/SegCor.AssemblyInfo.cs
Source/bin/Debug/net48/Core40k.dll
Source/obj/Debug/net48/SegCore.AssemblyInfo.cs
Source/obj/Debug/net48/SegCore.AssemblyInfoInputs.cache
Source/obj/Debug/net48/SegCore.assets.cache
Source/obj/Debug/net48/SegCore.csproj.AssemblyReference.cache
Source/obj/Debug/net48/SegCore.csproj.CoreCompileInputs.cache
Source/obj/Debug/net48/SegCore.csproj.FileListAbsolute.txt
Source/obj/Debug/net48/SegCore.GeneratedMSBuildEditorConfig.editorconfig
Source/obj/SegCore.csproj.nuget.dgspec.json
Source/obj/SegCore.csproj.nuget.g.props
Source/obj/SegCore.csproj.nuget.g.targets
Source/obj/Debug/net48/SegCore.csproj.Up2Date
Source/obj/Debug/net48/SegCore.pdb
Source/obj/Debug/net48/SegCore.sourcelink.json
